.pcshsVideo {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(50%);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactUs {
  width: 100%;
  height: 560px;
  background-color: #03045e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainBgImage {
  background-image: url(/pcshslogo.png);
  background-size: cover;
  background-attachment: fixed;
}

.historyBgImage {
  background-image: url(/pcshsPictures/vision.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

.blurBox {
  backdrop-filter: brightness(25%);
  -webkit-backdrop-filter: brightness(25%);
}
