.appBar {
  display: flex;
  flex-direction: row;
  z-index: 10000;
  width: 100%;
  align-items: center;
  background-color: white;
  color: black;
}

.avatar {
  border-radius: 50%;
}

.main {
  margin-left: 24%;
  height: 100vh;
  overflow: auto;
  display: flex;
}

@media all and (max-width: 1199px) {
  .main {
    margin-left: 40%;
    margin-right: 0%;
  }
}

@media all and (min-width: 1536px) {
  .main {
    margin-right: 24%;
  }
}

@media all and (max-width: 899.99px) {
  .main {
    margin-left: 0%;
    margin-right: 0%;
  }
}
