.dp {
  border-radius: 50%;
}

.dpContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.idContainer {
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.idFront {
  background-image: url(/pcshsPictures/vision.jpeg);
  background-size: cover;
  background-color: #ffe8d6;
  background-blend-mode: screen;
  padding-top: 16px;
  padding-bottom: 16px;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.idBack {
  background-image: url(/pcshsPictures/vision.jpeg);
  background-size: cover;
  background-color: #ffe8d6;
  background-blend-mode: screen;
  padding-top: 16px;
  padding-bottom: 16px;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: rotateY(180deg);
  height: auto;
  max-height: 100%;
  overflow: auto;
}

.idContainerFlipped {
  transition: transform 0.4s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}
