.dp {
  border-radius: 50%;
}

.dpContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.idContainer {
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.idFront {
  padding-top: 16px;
  padding-bottom: 16px;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.idBack {
  padding-top: 16px;
  padding-bottom: 16px;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  transform: rotateY(180deg);
  height: auto;
  overflow: auto;
}

.idContainerFlipped {
  transition: transform 0.4s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}
